 @import url('https://fonts.cdnfonts.com/css/montserrat');

 *, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
 }

 body {
  height: 100vh;
  width: 100vh;
  background: #0c192c;
   overflow-x: hidden;
  
 }

 .head {
  height: 100vh;
  width: 100vh;
 }

 .container {
  width: 100vh;
  height: 100vh;
 }

 .bubbles {
  position: absolute;
  display: flex;
 }

 .bubbles span {
  
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 5px;
  border-radius: 50%;
 box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
   animation: animate 15s linear infinite;
   animation-duration: calc(50s / var(--i));
 }

 .bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
 }

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  } 
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.head {
  width: 100vh;
  height: 100vh;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
 
}
.judul-web {
  position: absolute;
  display: flex;
  justify-content: flex-start;
 color: white;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 left: 3rem;
 top: 1rem;
 font-size: 16px;
}

.Login {
  position: absolute;
 display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: underline;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  right: 4rem;
  top: 1.2rem;
  font-size: 16px;
}

.Services {
  position: absolute;
  justify-content: center;
  align-items: center;
   font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  top: 47.5%;
  left: 40rem;
  font-size: 50px;
  display: flex;
}



.main-sentence {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 68px;
   text-align: center;
   top: 25%;
   left: 19.8%;
   font-weight: 600;
   line-height: 81.6px;
}

.support-sentence {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
   top: 58.6%;
   left: 39.8%;
   font-size: 20px;
   line-height: 20px;
   
}

.main-content {
  height: 100vh;
  width: 100%;
}

.multiple-text {
  color: #00EEFF;
  text-shadow: #4fc3dc;
}

.sponsor {
  justify-content: center;
  align-items: center;
  display: flex;
}

.support-media {
  top: 75%;
  left: 43.5%;
  position: absolute;
  color: white;
  font-size: 18px;
  font-weight: 600;
   font-family: 'Montserrat', sans-serif;
}

.slide1 {
  position: absolute;
  top: 82%;
  left: 14rem;
}

.slide2 {
  position: absolute;
  top: 90%;
  left: 14rem;
}

.detail {
  position: absolute;
  top: 97%;
  left: 34.6rem;
  font-size: 16px;
  color: #828282;
  letter-spacing: 1.6px;
}

.sertifikat {
  height: 100vh;
  width: 100vh;
}

.promotion {
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0c192c;
  box-shadow:  0 0 50px #4fc3dc, 0 0 100px #4fc3dc ;
  padding: 0rem;
  margin: 0rem 3rem;
  left: 15rem;
  top: 9rem;
  width: 60rem;
  border-radius: 1rem;
}

.lencana {
  position: relative;
  top: 5rem;
  width: 206px;
  height: 166px;
  left: 2rem;
}

.pencapaian {
  position: relative;
  color: #ffff;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  left: 20rem;
  top: -9rem;
  letter-spacing: 1.6px;
}

.abang {
  color:#ff2d75;
}

.promo {
  position: relative;
  color: white;
  left: 20rem;
  top: -8rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.yoiki {
  font-weight: bold;
}

.see {
  position: relative;
  left: 20rem;
  top: -5rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: 9rem;
   font-family: 'Montserrat', sans-serif;
   background-color: #ff2d75;
   color: white;
   font-weight: bolder;
}

.see:hover {
  cursor: pointer;
   box-shadow:  0 0 50px #ff2d75, 0 0 100px #ff2d75;
   transition:  .5s ease-in-out;
}

.hooh {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   top: 20rem;
   font-size: 48px;
   left: 23rem;
}

.figur {
  width: 100vh;
  height: 70vh;
}

.figur-container {
  width: 100vh;
  position: relative;
  top: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 3rem;
  left: 2.6rem;
}

.figur-container .figur-box {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  width: 15.5rem;
}

.figur-box img {
  width: 100%;
  height: 100%;
 
}

.figur-box:hover img {
  transform: scale(1.1);
   cursor: pointer;
   transition: 0.3s ease all;;
   box-shadow: 0 0 1rem red;
  }

  
.figur-box:hover{
   cursor: pointer;
   transition: 0.3s ease all;;
   box-shadow: 0 0 1rem red;
  }
